.new-event-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
}

.navlink-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.nav-link {
    text-decoration: none;
    color: #666;
    font-weight: bold;
}

.loading {
    padding: 50px;
    text-align: center;
    font-size: 1.2rem;
}
