.new-event-form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    font-family: inherit;
    border: 1px solid #009fdf80;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.new-event-form-container form {
    display: flex;
    flex-direction: column; 
}

.new-event-form-container label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #009fdf;
    font-size: 0.9em;
}

.new-event-form-container input, .new-event-form-container textarea, .new-event-form-container select {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.new-event-form-container input[type="submit"] {
    margin-top: 25px;
    background-color: #009fdf;
    color: white;
    cursor: pointer;
}
