.events-page-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
}

.events-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.btn {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary { background-color: #009fdf; display:block; text-decoration:none;}
.btn-danger { background-color: #dc3545; }
