.events-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
